/* try to avoid FOUS, and also show loading spinner */
  body:not(.loaded) *:not(.dont-hide-on-loading) {
    display: none;
  }

  body:not(.loaded) .dont-hide-on-loading * {
    display: block;
  }

  body.loaded .loading-spinner {
    display: none;
  }

/* style basic tabs */
  /* tabs default to not showing */
  .tab {
    display: none;
  }

  /* but if a tab is the current target, it shows */
  .tab:target,
  /* alternately, if NONE of our two tabs are the target, 
     the LAST one is the default to SHOW */
  .tab:not(:target) + .tab:not(:target) {
    display: block;
  }

/* add some fun styles */
  :root {
    background: linear-gradient(dodgerblue, aquamarine);
    height: 100%;
    font: 16px/135% Helvetica Neue, Helvetica, Arial;
  }

  body {
    display: table;
    margin: 0 auto;
    max-width: 666px;
    background: white;
    padding: 1em;
  }

  header h1 {
    font-weight: 300;
    line-height: initial;
  }

/* status styles */

.status.failure {
  color: red;
}

.status.info {
  color: blue;
}

